<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferid.app.classroom" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Attendance">

        <activity
            android:name=".splash.SplashActivity"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:resizeableActivity="true"/>

        <activity android:name=".edit.EditStudentActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:resizeableActivity="true"/>

        <activity android:name=".attendance.TakeAttendanceActivity"
            android:configChanges="orientation|screenSize"
            android:resizeableActivity="true"/>

        <activity android:name=".past_attendances.PastAttendancesListActivity"
            android:configChanges="orientation|screenSize"
            android:resizeableActivity="true"/>

        <activity android:name=".past_attendances.PastAttendanceActivity"
            android:configChanges="orientation|screenSize"
            android:resizeableActivity="true"/>

        <activity android:name=".statistics.StatisticalListActivity"
            android:windowSoftInputMode="adjustPan"
            android:resizeableActivity="true"/>

    </application>

</manifest>